<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ genre.genre_name }} - Книги</title>
</head>
<body>
    <h1>{{ genre.genre_name }} - Книги</h1>
    <ul>
        {% for book in genre.genre_books %}
            <li>
                {{ book.name }} - {{ book.author }} 
                - {% if book.is_read %}Прочитана{% else %}Не прочитана{% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>