<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <form action="/add_book" method="post">
        <label for="name">Название книги:</label>
        <input type="text" name="name" required><br>

        <label for="author">Автор:</label>
        <input type="text" name="author" required><br>

        <label for="genre">Жанр:</label>
        <input type="text" name="genre" required><br>

        <label for="is_read">Прочитана:</label>
        <input type="checkbox" name="is_read" value="1"><br>
        <input type="hidden" name="is_read" value="0">

        <button type="submit">Добавить книгу</button>
    </form>
    
    <ul>
        {% for book in books %}
            <li>
                {{ book.name }} - {{ book.author }} - {{ book.genre.genre_name }}
                - {% if book.is_read %}Прочитана{% else %}Не прочитана{% endif %}
                - <a href="{{ url_for('view_genre', genre_id=book.genre.id) }}">Перейти к жанру</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>